.body-container{

background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(249,244,214,1) 100%); 
position: relative;


.body-main-container{
justify-content: center;
width: 1200px;

margin-top: 100px;
    display: grid;
    grid-template-columns: 550px 550px ;
    grid-template-rows: 200px 600px ;
    margin-left: auto;
    margin-right: auto;


.header-body-container{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;

    width: 1100px;
    position: relative;
    .color-block{
background-color: #F3D250;
width: 400px;
height: 100px;
opacity: 0.8;
    }
    h2{
        transform:  translate(4%, -100%);
        font-family: 'Source Sans Pro';
        font-size: 50px;
        font-weight: bold;
        opacity: 0.8;
    }




}

.first{
    grid-column-start: 1;
    grid-row-start: 2;

}
.second{
    grid-column-start: 2;
    grid-row-start: 2;
 
}
}
}

.volunteer-time{
     margin-left: 0;
     margin-right: 0;
    justify-content: center;
margin-left:100px ;

display: flex;
.volunteer-time-box{
    margin-right: 100px;
    text-align: center;
    
}

}

.image-container-banner{

background-image: url("../../public/candel.jpg");
position: relative;
background-attachment: fixed;
width: 100%;
height: 100vh;
background-size: cover;
background-position: bottom;
display: flex; 
justify-content: center;
align-items: center;
margin-top: 100px;

.clouds{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
pointer-events: none;

img{
position: absolute;
bottom: 0; 
max-width: 100%;
animation: animate calc(3s * var(--i)) linear infinite; 
   }
 }
}

@keyframes animate {
0%{
    opacity: 0;
    transform: scale(2);
}
25%,75% 
{
opacity: 0.9;
}
100%{
    transform: scale(4);
}

}