$small: 393px;
$medium: 900px;

.body-container{

background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(249,244,214,1) 100%); 
position: relative;
.body-main-container{
justify-content: center;
width: 1200px;

margin-top: 100px;
    display: grid;
    grid-template-columns: 550px 550px ;
    grid-template-rows: 200px 600px ;
    margin-left: auto;
    margin-right: auto;


.header-body-container{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;

    width: 1100px;
    position: relative;
    .color-block{
background-color: #fdd765;
width: 400px;
height: 100px;
opacity: 0.8;
    }
    h2{
        transform:  translate(4%, -100%);
        font-family: 'Abril Fatface ';
        font-size: 60px;
        font-weight: bold;
        opacity: 0.8;
    }

}

.first{
    grid-column-start: 1;
    grid-row-start: 2;
    margin-right: 50px;
    p{
        font-size: 20px;
        letter-spacing: 0.1rem;
    }

}
.second{
    grid-column-start: 2;
    grid-row-start: 2;
    p{
        font-size: 20px;
        letter-spacing: 0.1rem;
    }
 
}
}
}

.volunteer-time{
     margin-left: 0;
     margin-right: 0;
    justify-content: center;
margin-left:80px ;

display: flex;
.volunteer-time-box{
    margin-right: 100px;
    text-align: center;
    
    h3{
        font-size:50px;
        color: #fdd765;
        text-shadow: 5px 5px 10px #e3cef9;
    }
    h5{
        font-size: 18px;
        opacity: 0.8;
    }
}

}

.image-container-banner{

background-image: url("https://s3.amazonaws.com/www.svitlola.com/images/candel.jpg");
position: relative;
background-attachment: fixed;
width: 100%;
height: 100vh;
background-size: cover;
background-position: bottom;
display: flex; 
justify-content: center;
align-items: center;
margin-top: 100px;

.clouds{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
pointer-events: none;

img{
position: absolute;
bottom: 0; 
max-width: 100%;
animation: animate calc(3s * var(--i)) linear infinite; 
   }
 }
}

@keyframes animate {
0%{
    opacity: 0;
    transform: scale(2);
}
25%,75% 
{
opacity: 0.9;
}
100%{
    transform: scale(4);
}

}
section{
    position: absolute;
    z-index: 10;
   margin-top: 700px;
   margin-right: 600px;

    .video-container{
          z-index: 10;
        width: 100%;
        height: 400px;
iframe{
    width:600px;
    height: 400px;

}
        }


}


@media screen and (max-width: $small) {

    .body-container{

        .body-main-container{
         
justify-content: center;
width: 300px;
margin-top: 50px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 100px 400px 400px ;

   
    .first{
        grid-column-start: 1;
        grid-row-start: 2;
        margin-right: 10px;

  p{
    font-size: 12px;
    text-align: center;
  }

    }
    .second{
        grid-column-start: 1;
        grid-row-start: 3;
        margin-right: 10px;
        p{
            font-size: 12px;
            text-align: center;
          }
    }

    .header-body-container{
       
        width: 600px;
        position: relative;       
        .color-block{

    width: 250px;
    height: 50px;

        }

        h2{
            transform:  translate(-60%, -90%);
            font-size: 25px;
            text-align: right;
        }
    }
        }
    }
    .volunteer-time{

       margin-left:0px ;

.volunteer-time-box{
    margin-right: 15px;

    h3{
        font-size:14px;
    }
    h5{
        font-size: 10px;
    
    }
}
   }

    section{
        position: absolute;
        z-index: 10;
        background-color: #fdd765;
           margin-top: 500px;
   margin-right: 0px;


        .video-container{
              z-index: 10;
            width: 350px;
            height: 300px;
    iframe{
        width: 350px;
        height: 300px;
    }
            }
    }
    
    
    .image-container-banner{
        background-image: url("../../public/candel.jpg");
        position: relative;
        background-attachment: local;
        width: 100%;
        height: 90vh;
        background-size:auto;
        background-position: bottom;
        margin-top: 10px;
        
        .clouds{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        
        img{
        position: absolute;
        bottom: 0; 
        max-width: 1300px;
        animation: animate calc(3s * var(--i)) linear infinite; 
           }
         }
        }
        
        @keyframes animate {
        0%{
            opacity: 0;
            transform: scale(2);
        }
        25%,75% 
        {
        opacity: 0.9;
        }
        100%{
            transform: scale(4);
        }
        
        }
    
   

}