
$small: 393px;
$medium: 900px;



.navigation-logo{
background-color: rgb(249, 247, 244);
display: flex;
img{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
    ul{    

    display: inline-block;
    justify-content: end;
position: relative;
    margin-left: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    
        li {
            display: inline-block;
            margin-left: 25px;
            font-size: 20px;
            font-family: 'Abril Fatface';
           
        }
        
    }
 

}

@media screen and (max-width: $small) {
    .navigation-logo{
        background-color: rgb(249, 247, 244);
        display: grid;
        h5{
        font-size: 1px;
        visibility:collapse;
        }


        img{
            margin-left: 5px;
            margin-top: 10px;
            width: 90px;
            height: 30px;
           
        }
            ul{    
            display: inline-block;
            margin-left: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: left;
      
            
                li {
                    display: inline-block;
                    margin-left: 10px;
                    font-size: 12px;
                    font-family: 'Abril Fatface';
                   
                }
                
            }
         
        
        }
    
  }
  @media screen and (min-width: $medium) {


  }