
$small: 393px;
$medium: 900px;

.header-container{
background-image: url("../public/fam2.jpg");
  background-position-x: center;
  background-position-y: top 60px;
  background-repeat: no-repeat;
  background-size: cover;
padding: 50px;
padding-bottom: 97px;
margin-top: 120px;

.navigation-container {

position: relative;
width: 900px;
margin: auto;

border-top: solid 150px rgba(#fdd765, 0.6)   ;
display: flex;






h2{
    font-size: 45px;
    height:300px;
    width: 600px;
  text-align: right;
    transform: translate(-18%, -85%);
    padding: 20px;
    font-family: "Abril Fatface";
    font-size: 75px;
    font-weight: bold;
}


    }
}


.border-bottom {
    height:200px;
    width:100%;
    background:url("../public/border.webp") repeat-x;
    background-size:70px 70px;
    background-position:bottom;
    transform: translate(-5%, 99%);
    position:absolute;
    bottom:0; 
}

@media screen and (max-width: $small) {

    .header-container{
       
        padding: 20px;
        padding-bottom: 150px;
        margin-top: 80px;

        .navigation-container {

            position: relative;
            width: 300px;
            margin: auto;
            border-top: solid 70px rgba(#fdd765, 0.6)   ;
            display: flex;

            h2{
                font-size: 25px;
                height:100px;
                width: 300px;
              text-align: right;
                transform: translate(-30%, -130%);
                padding: 10px;
                font-family: "Abril Fatface";
                font-size: 35px;
                font-weight: bold;
            }
        }     

    }        


    .border-bottom {
        visibility: hidden;
      }

}